:root {
  --primario: rgba(150, 15, 190, 0.89);
  --blanco: rgb(253, 253, 253);
  --negro: rgb(0, 0, 0);
  --fuentePrincipal: "Josefin Sans", sans-serif;
  --fuenteTitulos: "Elsie", cursive;
}

html {
  box-sizing: border-box;
  font-family: var(--fuentePrincipal);
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  background: var(--negro);
  background: linear-gradient(
    165deg,
    rgba(0, 0, 0, 1) 77%,
    rgba(58, 22, 68, 1) 98%
  );
  min-height: 100vh;
  padding-top: 50px;

  //para que tome todo el ancho de la ventana
  display: grid;
}

a {
  text-decoration: none;
  color: var(--blanco);
  font-size: 1.3rem;
}

h1 {
  color: var(--blanco);
  font-family: var(--fuenteTitulos);
  font-weight: 400;
  margin: 1rem 0;
  text-align: center;
}

h2,
h3,
h4 {
  color: var(--blanco);
  font-family: var(--fuenteTitulos);
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 22px;
}

p {
  color: var(--blanco);
  font-size: 1.2rem;
  font-weight: 300;
}

main {
  padding-top: 30px;
  margin-top: 20px;
}

img {
  width: 100%;
  height: auto;
}
//Footer
footer {
  padding-top: auto;
  text-align: center;
}

footer p {
  font-size: 18px;
}
